@import "../../../styles/settings.scss";

.root {
  padding: $base-size;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #fff;
}

.logo {
  font-size: 2rem;
  margin-right: 10px;
}
